@import "exempleStyles";
$headerColor:#fc00ef;
$meGustaColor: green;
$titulo: red;

body {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    
    @import "header";
    @import "main";

    .megusta {
        background-color: $meGustaColor;
    }
   
}
