@import "exempleStyles";
$headerColor:#fc00ef;
$estiloHeader: 'otra cosa';
$meGustaColor: green;
$titulo: red;

body {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    
    @import "header";
    @import "main";

    .megusta {
        background-color: $meGustaColor;
    }

    @for $i from 1 through 6 {
        h#{$i} {font-size: #{$i}em;} 
    }

    @each $boton, $color in (megusta, red), (no-megusta, green) {
        .#{$boton} { background-color: $color;}
    }
   
}
